@media screen and (max-width: 480px){
    .spotlistCardWrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
}

    .cardSize{
    width: 90vw
}

    .progressBarSize{
        width: 90vw;
        margin-bottom: 5px
    }

    
}

@media screen and (min-width: 481px) and (max-width: 768px){
    .spotlistCardWrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
}

.cardSize{
    width: 48vw
}

.progressBarSize{
    width: 48vw;
    margin-bottom: 5px
}
}

@media screen and (min-width: 769px) and (max-width: 1024px){
    .spotlistCardWrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }  

    .cardSize{
        width: 32vw
    }

    .progressBarSize{
        width: 32vw;
        margin-bottom: 5px
    }
}

@media screen and (min-width: 1025px){
    .spotlistCardWrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .cardSize{
        width: 24vw
    }

    .progressBarSize{
        width: 24vw;
        margin-bottom: 5px
    }
}